body{
  background-color: #C0C0C0;
}

div.section{
 background: url(images/picnz.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h1 {
   position: absolute;
   top: 110px;
   left: 0;
   width: 100%;
   text-align: center;
   font-size: 70px;
   color: white;
   vertical-align: middle;
}
h2 {
   position: absolute;
   top: 620px;
   left: 0;
   width: 100%;
   font-style: italic;
   font-family: fantasy;
   text-align: center;
   font-size: 40px;
   color: white;
   vertical-align: middle;
}

a.href {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: white;
  vertical-align: middle;
  }


div.form-container{
  background-color: #e8fbff;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   color: silver;
   text-align: center;
   padding:40px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
